/*Inter*/
@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  src: url('/src/assets/fonts/Inter-Regular.otf');
}
@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: url('/src/assets/fonts/Inter-Medium.otf');
}
@font-face {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  src: url('/src/assets/fonts/Inter-SemiBold.otf');
}
@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: url('/src/assets/fonts/Inter-Bold.otf');
}

/*Pretendard*/
@font-face {
  font-family: 'Pretendard-Regular';
  font-style: normal;
  src: url('/src/assets/fonts/Pretendard-Regular.otf');
}
@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  src: url('/src/assets/fonts/Pretendard-Medium.otf');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  font-style: normal;
  src: url('/src/assets/fonts/Pretendard-SemiBold.otf');
}
@font-face {
  font-family: 'Pretendard-Bold';
  font-style: normal;
  src: url('/src/assets/fonts/Pretendard-Bold.otf');
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  font-style: normal;
  src: url('/src/assets/fonts/Pretendard-ExtraBold.otf');
}

/*
base layer: 룰 초기화 or HTML 자체에 적용될 default 스타일을 위한 layer
components layer: 로 재정의 할 수 있는 class기반 스타일을 위한 layer
utilities layer: 다른 어떤 스타일보다 먼저 적용되어야할 작고, 하나의 목적을 가진 class를 위한 layer
*/
@layer base {
  /*reset.css*/
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  * {
    box-sizing: border-box;
    user-select: none;
  }
}

@layer utilities {
  /*
  Heading1_Eng/Kor: title
  Heading2_Eng/Kor: greeting
  Heading3_Eng: subtitle
  Heading3_Kor: ranking
  Heading4_Eng: modal-title
  Heading4_Kor: ranking-des
  Heading5: calendar-title
  Heading6: timer
  Heading7: landing-desc
  Nav_Eng: header
  Body1: mission-todo
  Body2: todo
  Label1_Eng: confirm-btn
  Label1_Kor: calendar-date
  Label2_Eng/Kor: modal-desc
  Label3_Eng: email
  Label3_Kor: name / no-friend-msg
  Label4_Eng: add-btn
  Label4_Eng: input
  Label5_Eng: modal-email
  Label5_Kor: modal-name
  Label6: modal-input
  Label7: toast-msg
  Label8: modal-btn
  */
  .Heading1_Eng {
    @apply font-inter-bold text-[5rem] leading-[1.5rem] tablet:text-[8rem];
  }
  .Heading1_Kor {
    @apply font-pretendard-extrabold text-[2rem] leading-[2.7rem] tablet:text-[3rem] tablet:leading-[4.05rem] desktop:text-[5rem] desktop:leading-[6.75rem];
  }
  .Heading2_Eng {
    @apply font-inter-bold text-[1.5rem] leading-[1.5rem] tablet:text-[2.25rem];
  }
  .Heading2_Kor {
    @apply font-pretendard-bold text-[1.5rem] leading-[1.5rem] tablet:text-[2.25rem];
  }
  .Heading3_Eng {
    @apply font-inter-semibold text-[1.5rem] leading-[1.5rem] tablet:text-[2rem];
  }
  .Heading3_Kor {
    @apply font-pretendard-bold text-[0.9375rem] leading-[1.1875rem] tablet:text-[1.5rem];
  }
  .Heading4_Eng {
    @apply font-inter-medium text-[0.98188rem] leading-[0.775rem] tablet:text-[1.5rem] tablet:leading-[1.1875rem];
  }
  .Heading4_Kor {
    @apply font-pretendard-regular text-[0.875rem] leading-[1.1875rem] tablet:text-[1.25rem];
  }
  .Heading5 {
    @apply font-pretendard-bold text-[1.1875rem];
  }
  .Heading6 {
    @apply font-pretendard-bold text-[1.125rem] leading-[3rem];
  }
  .Heading7 {
    @apply font-pretendard-bold text-[0.875rem] leading-[2.8125rem] tablet:text-[1.125rem];
  }
  .Nav_Eng {
    @apply font-inter-semibold text-[0.9375rem];
  }
  .Body1 {
    @apply font-pretendard-bold text-[0.75rem];
  }
  .Body2 {
    @apply font-pretendard-medium text-[0.75rem] leading-[1.5rem];
  }
  .Label1_Eng {
    @apply font-inter-semibold text-[0.65438rem] leading-[0.98125rem] tablet:text-[1rem] tablet:leading-[1.5rem];
  }
  .Label1_Kor {
    @apply font-pretendard-semibold text-[0.78rem];
  }
  .Label2_Eng {
    @apply font-inter-medium text-[0.5725rem] leading-[0.775rem] tablet:text-[0.875rem] tablet:leading-[1.1875rem];
  }
  .Label2_Kor {
    @apply font-pretendard-medium text-[0.5725rem] leading-[0.775rem] tablet:text-[0.875rem] tablet:leading-[1.1875rem];
  }
  .Label2_Bold_Kor {
    @apply font-pretendard-bold text-[0.5725rem] leading-[0.775rem] tablet:text-[0.875rem] tablet:leading-[1.1875rem];
  }
  .Label3_Eng {
    @apply font-inter-regular text-[0.8125rem] leading-[3rem];
  }
  .Label3_Kor {
    @apply font-pretendard-regular text-[1.0625rem] leading-[3rem];
  }
  .Label4_Eng {
    @apply font-inter-medium text-[0.75rem] leading-[1.5rem];
  }
  .Label4_Kor {
    @apply font-pretendard-medium text-[0.75rem] leading-[1.5rem];
  }
  .Label5_Eng {
    @apply font-inter-regular text-[0.49062rem] leading-[0.65625rem] tablet:text-[0.75rem] tablet:leading-[1rem];
  }
  .Label5_Kor {
    @apply font-pretendard-medium text-[0.65438rem] leading-[0.98125rem] tablet:text-[1rem] tablet:leading-[1.5rem];
  }
  .Label6 {
    @apply font-pretendard-regular text-[0.65438rem] tablet:text-[1rem];
  }
  .Label7 {
    @apply font-pretendard-regular text-[0.60688rem] tablet:text-[1rem];
  }
  .Label8 {
    @apply font-pretendard-regular text-[0.40937rem] leading-[0.775rem] tablet:text-[0.625rem] tablet:leading-[1.1875rem];
  }
}
